# DVC
/evaluation_confusion_matrix.png

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env

# MLflow
mlruns/
mlflow.db

# DVC - handled by DVC usually but good to be explicit about data/models folders if not fully managed
# We rely on DVC's internal gitignores for data/ and models/ specific files, 
# but ignoring the folders generally is safe if we track .dvc files and dvc.lock.
# However, dvc.yaml and dvc.lock MUST be tracked.

# IDE / OS
.DS_Store
.vscode/
.idea/

# Pytest
.pytest_cache/
